In [1]:
# Task B

from pulp import *

h1 = LpVariable('h1', lowBound = 0, cat ='Integer')
h2 = LpVariable('h2', lowBound = 0, cat ='Integer')
h3 = LpVariable('h3', lowBound = 0, cat ='Integer')

In [2]:
prob = LpProblem('Minimization', sense = LpMinimize)

In [3]:
# Decision Variable

prob += 190*h1 + 260*h2 + 150*h3

In [4]:
# Constraints

prob += 295*h1 + 385*h2 + 350*h3 >= 5500, 'Product 1'
prob += 260*h1 + 375*h2 >= 4000 , 'Product 2'
prob += h1 <= 8, 'Facility 1 running time constraint'

In [5]:
prob

Minimization:
MINIMIZE
190*h1 + 260*h2 + 150*h3 + 0
SUBJECT TO
Product_1: 295 h1 + 385 h2 + 350 h3 >= 5500

Product_2: 260 h1 + 375 h2 >= 4000

Facility_1_running_time_constraint: h1 <= 8

VARIABLES
0 <= h1 Integer
0 <= h2 Integer
0 <= h3 Integer

In [6]:
status = prob.solve()
LpStatus[status]

'Optimal'

In [7]:
for variable in prob.variables():
    print(variable.name, '=', variable.varValue)

h1 = 1.0
h2 = 10.0
h3 = 4.0

In [8]:
value(prob.objective)

3390.0

In [9]:
import pandas as pd

l = []
for name, c in prob.constraints.items():
    l.append([name, str(prob.constraints[name]), c.pi, c.slack])

pd.DataFrame(l, columns=['name', 'constraints', 'shadow_price', 'slack'])

,name,constraints,shadow_price,slack
0,Product_1,295*h1 + 385*h2 + 350*h3 >= 5500,0.0,-45.0
1,Product_2,260*h1 + 375*h2 >= 4000,0.0,-10.0
2,Facility_1_running_time_constraint,h1 <= 8,0.0,7.0